/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# IDEs
.idea

*.gem
/test_app/**/*
/frap_test_suite_app/**/*
/test_app_create_spec/**/*